{% extends "DulceDespertarApp/base.html" %}

{% load static %}
{% block content %}

<div class="container">
    <div class="row">

{% for productos in productos %}

    <div class="col">

        <div class="card" style="width: 30%">

            <img src="{{productos.imagen.url}}">

            <div class="card-body" style="text-align: center;">

                <h7 class="card-title">{{productos.nombre}}</h7>
                <p class="card-text">{{productos.precio}}&nbsp;$</p>

            </div>


        </div>
    </div>
    
    
{% endfor %}

    </div>
</div>

{% endblock %}