{% extends "DulceDespertarApp/base.html" %}

{% load static %}
{% block content %}


<!-- icono pag, arreglar -->
<html>
  <head>
    <link rel="icon" href="icono/cupcake.png">
  </head>
</html>

<title>Home</title>

<!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'DulceDespertarApp/img/principal.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-lower">Regalos a domicilio</span>
          </h2>
          <p class="mb-3">¡Nos dedicamos a regalar felicidad y crear momentos inolvidables! </p>
          <p class="mb-3">Desayunos - Meriendas - Picadas - Regalos especiales que te haran quedar muy bien</p>

         
        </div>
      </div>
    </div>
  </section>

  
  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-lower">Dulce Despertar </span>
                <span class="section-heading-upper">es una tienda on-line que cuenta con un amplio catálogo de desayunos, meriendas y picadas a domicilio.</span>
              </h2>
              <p class="mb-0">Nuestro objetivo es ayudarte a sorprender y agasajar a las personas que más querés.</p>
              <p class="mb-0">Hacemos entregas en algunos barrios de Capital Federal y algunas localidades de la Zona Oeste del Gran Buenos Aires.</p>
              <p class="mb-0">¡TODAVÍA NOS QUEDA MUCHO POR HACER Y SEGUIREMOS HACIENDOLO JUNTO A VOS!</p>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}