{% extends "DulceDespertarApp/base.html" %}

{% load static %}
{% block content %}

<html>
    <head>
        <title>Preguntas frecuentes</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="css/gestion.css">
    </head>
<body>
    <div class="Caja" style="text-align: center;">
        <p style="text-align: center;"><span style="font-size: 26px; color: rgb(239, 239, 239);">&iquest;C&Oacute;MO PUEDO COMPRAR O ENCARGAR LOS PRODUCTOS?</span></p>

        <p><span style="font-size: 20px;">Las compras se hacen &uacute;nicamente por WhatsApp (---------) o por tel&eacute;fono&nbsp;(------).</span></p>
        <p><span style="font-size: 22px;">&iquest;Por qu&eacute;? </span></p>
        <p><span style="font-size: 20px;">Porque si habilitamos el carro de compras, podr&iacute;as hacer un pedido para cualquier zona de CABA o Gran Buenos Aires, y lamentablemente no llegamos a todos los barrios.&nbsp;</span></p>
        <p><span style="font-size: 20px;">Por ahora, solo hacemos entregas en algunos barrios de Capital (Cons&uacute;ltanos, porque lo hacemos a la gran mayor&iacute;a!), Tambi&eacute;n repartimos en Gregorio de Laferrere, San Justo, Mor&oacute;n y Gonzales Catan.</span></p>
        <p style="text-align: center;"><span style="font-size: 26px; color: rgb(239, 239, 239);">&iquest;CU&Aacute;LES SON LAS FORMAS DE PAGO?</span></p>
        <ol>
            <li style="text-align: center; font-size: 22px;">Podes abonar en efectivo tu pedido al recibirlo en tu domicilio.&nbsp;</li>
            <li id="isPasted" style="text-align: center; font-size: 22px;">Mediante Dep&oacute;sito o Transferencia.&nbsp;</li>
            <li id="isPasted" style="text-align: center; font-size: 22px;">Con tarjeta podes abonarlo por Mercado Pago (el mismo tiene un costo adicional del 10%)</li>
        </ol>

        <p style="text-align: center;"><span style="font-size: 26px; color: rgb(239, 239, 239);">&iquest;A QU&Eacute; HORA SE ENTREGA TU PEDIDO?</span></p>

        <p><span style="font-size: 20px;">Nuestro reparto comienza a las 6 de la ma&ntilde;ana.&nbsp;</span></p>
        <p><span style="font-size: 20px;">Pero las franjas horarias para la entrega son de 1 hora. Por ejemplo si vos quer&eacute;s o calculas que el agasajado se levanta a las 7:00 AM podes elegir el horario de 6:00 AM a 7:00 AM o de 6:30 AM a 7:30 AM. </span></p>
        <p><span style="font-size: 24px;"><u>Siempre lo eleg&iacute;s vos.</u></span></p>

        <p style="text-align: center;"><span style="font-size: 26px; color: rgb(239, 239, 239);">&iquest;CU&Aacute;L ES NUESTRO HORARIO DE ATENCI&Oacute;N?</span></p>
        <p><span style="font-size: 22px;">Nuestro horario de atenci&oacute;n es de Lunes a Lunes de 8 a 20 HS.</span></p>

        <p style="text-align: center;"><span style="font-size: 26px; color: rgb(239, 239, 239);">&iquest;CON CU&Aacute;NTA ANTICIPACI&Oacute;N DEBO ENCARGARLO?</span></p>

        <p><span style="font-size: 20px;">Podes encargarlo hasta con un d&iacute;a de anticipaci&oacute;n, siempre ten&eacute; en cuenta que cuanto antes lo hagas es mejor.&nbsp;</span></p>
        <p><span style="font-size: 20px;">A veces si ten&eacute;s suerte, hasta en el mismo d&iacute;a podemos hacer la entrega.</span></p>
        <p style="text-align: center;"><span style="font-size: 24px;">&iexcl;pero no te relajes tanto, No siempre es posible!</span></p>

        <p style="text-align: center;"><span style="font-size: 26px; color: rgb(239, 239, 239);">&iquest;PUEDO AGREGAR UN MENSAJE PERSONALIZADO AL REGALO?</span></p>


        <p><span style="font-size: 20px;">SI!!! Por supuesto. Cada desayuno va presentado de forma hermosa, lleva tags (Cartolas impresas con motivos divinos). Stickers y cintas de Razo. Pero adem&aacute;s lleva una tarjeta donde le ponemos el mensaje que vos nos indiques.</span></p>
<p><span style="font-size: 20px;">Cuando te mandamos el formulario de pedidos para que completes, esta la opci&oacute;n de la Dedicatoria.</span></p>
    </div>
</body>


</html>




{% endblock %}